.rank-image {
  display: inline-block;
  object-fit: contain;
  vertical-align: middle;
}

.rank-image-small {
  width: 24px;
  height: 24px;
}

.rank-image-medium {
  width: 40px;
  height: 40px;
}

.rank-image-large {
  width: 64px;
  height: 64px;
}



